a.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  padding: 0.5rem 0.8rem;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  outline: none;
}

a.link-button .icon {
  width: 32px;
  height: 32px;
  padding: 3px;
  background-color: var(--primary-color);
  background-clip: content-box;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.link-button .icon .play-icon {
  border: 7px solid #fff;
  width: 0;
  height: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin-right: -7px;
}

a.link-button .label {
  margin-left: 10px;
  font-size: 1rem;
  color: #ff002b;
  font-weight: 700;
}
