:root {
  --primary-color: #b9001f;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}
